<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rolson's portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet">
</head>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-lg  p-3 mb-3  rounded opacity-100" id="navbar" >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Cafe rating </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/rols0n">Github</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/new_post">Add new Cafe</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Projects
              </a>
              <div class="dropdown-menu" style="font-size: 1.7rem; background-color: rgba(0, 0, 0, 0.6); font-weight: 300"   aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" style="font-weight: 100; color: white" href="#">Action</a>
                <a class="dropdown-item" href="#" style="font-weight: 100; color: white">Another action</a>
                <a class="dropdown-item" href="https://rolson-portfolio.herokuapp.com/Str-To-Morse-Converter" style="font-weight: 100; color: white">String to morse converter</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>